@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-50;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
    @apply text-6xl font-extrabold leading-[1.1] text-traventour-dark lg:text-7xl;
}

h2 {
    @apply text-4xl font-extrabold leading-[1.1] text-traventour-dark lg:text-5xl;
}

h3 {
    @apply text-3xl font-extrabold leading-[1.1] text-traventour-dark lg:text-4xl;
}

h4 {
    @apply text-[1.25rem] font-extrabold leading-[1.1] text-traventour-dark lg:text-[1.75rem];
}

h5 {
    @apply text-xl font-semibold leading-[1.1] text-traventour-dark lg:text-2xl;
}

h6 {
    @apply text-lg font-medium leading-[1.4] text-traventour-dark lg:text-xl;
}

p {
    @apply text-sm leading-relaxed text-traventour-dark/70 lg:text-base;
}

.subtitle {
    @apply font-bold tracking-[.25rem] text-traventour-medium;
}

/* Definindo scroll-margin-top de forma mais universal e reutilizável */
.scroll-offset {
    scroll-margin-top: 15px; /* Aumentando o valor para ajustar o scroll */
}

/* Ajustando scroll-margin-top para seções específicas */
#about-us {
    @apply scroll-offset;
}

#experiences {
    @apply scroll-offset;
    scroll-margin-top: -60px; /* Ajuste especial para a seção de experiências */
}

#destinations,
#testimonials,
#faq {
    @apply scroll-offset;
    scroll-margin-top: -60px; /* Ajuste especial para outras seções */
}

/* Tornando o comportamento de largura mais responsivo e flexível */
@media (min-width: 1024px) {
    .lg:w-90 {
        width: 90%;
        max-width: 90%;
    }
}
